<!DOCTYPE html>
<html>
  <head>
    <title>Controle de Estoque</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <nav class="navbar navbar-dark bg-primary">
      <a class="navbar-brand" href="#">Logo</a>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="<%= categories_path %>">Categorias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= products_path %>">Produtos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= purchases_path %>">Entrada Estoque</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= purchase_products_path %>">Controle Entrada Estoque</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= sale_products_path %>">Saída Estoque</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= sales_path %>">Vendas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= customers_path %>">Clientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= suppliers_path %>">Fornecedores</a>
        </li>
      </ul>
    </nav>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <p class="navbar-text pull-right">
    <% if user_signed_in? %>
      Logado como: <strong><%= current_user.email %></strong>.
      <%= link_to 'Editar perfil', edit_user_registration_path, :class => 'navbar-link' %> |
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
    <% else %>
      <%= link_to "Registrar-se", new_user_registration_path, :class => 'navbar-link'  %> |
      <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
    <% end %>
    <%= yield %>
  </body>
</html>
