<!DOCTYPE html>
<html>
  <head>
  <title>Purple Stock</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
  <link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="manifest" href="/manifest.json" />
<meta name="apple-mobile-web-app-capable" content="yes"></head>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <p class="navbar-text pull-right">
    <% if user_signed_in? %>
      <%= nav_bar fixed: :top, brand: "Purple Stock", responsive: true do %>
        <%= menu_group do %>
            <%= menu_divider %>
            <%= menu_item "Categorias", categories_path %>
            <%= menu_item "Produtos", products_path %>
            <%= menu_item "Entrada Estoque", purchase_products_path %>
            <%= menu_item "Saída Estoque", sale_products_path %>
            <%= menu_item "Vendas", sales_path %>
            <%= menu_item "Clientes", customers_path %>
            <%= menu_item "Cadastro de Grupos", groups_path %>
            <%= menu_item "Controle de produto", show_group_product_path %>
            <%= menu_item "Controle de Confecção", show_product_confection_path %>
            <%#= menu_item "Fornecedores", suppliers_path %>
        <% end %>
      <% end %>
      Logado como: <strong><%= current_user.email %></strong>.
      <%= link_to 'Editar perfil', edit_user_registration_path, :class => 'navbar-link' %> |
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
    <% else %>
      <%= link_to "Registrar-se", new_user_registration_path, :class => 'navbar-link'  %> |
      <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
    <% end %>
    <%= yield %>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
  </body>
</html>
